<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ajayhao.mslab.crawler.orm.mapper.EntGsInfoEntityMapper">
  <resultMap id="BaseResultMap" type="com.ajayhao.mslab.crawler.orm.entity.EntGsInfoEntity">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ENT_ID" jdbcType="VARCHAR" property="entId" />
    <result column="ENT_NAME" jdbcType="VARCHAR" property="entName" />
    <result column="PULL_DATE" jdbcType="VARCHAR" property="pullDate" />
    <result column="REG_NO" jdbcType="VARCHAR" property="regNo" />
    <result column="ORI_REG_NO" jdbcType="VARCHAR" property="oriRegNo" />
    <result column="CREDIT_CODE" jdbcType="VARCHAR" property="creditCode" />
    <result column="FR_NAME" jdbcType="VARCHAR" property="frName" />
    <result column="REG_CAP" jdbcType="DECIMAL" property="regCap" />
    <result column="REG_CAP_CUR" jdbcType="VARCHAR" property="regCapCur" />
    <result column="REC_CAP" jdbcType="DECIMAL" property="recCap" />
    <result column="REC_CAP_CUR" jdbcType="VARCHAR" property="recCapCur" />
    <result column="ENT_STATUS" jdbcType="VARCHAR" property="entStatus" />
    <result column="ENT_TYPE" jdbcType="VARCHAR" property="entType" />
    <result column="ES_DATE" jdbcType="VARCHAR" property="esDate" />
    <result column="OP_FROM" jdbcType="VARCHAR" property="opFrom" />
    <result column="OP_TO" jdbcType="VARCHAR" property="opTo" />
    <result column="REG_ADDR" jdbcType="VARCHAR" property="regAddr" />
    <result column="REG_ORG" jdbcType="VARCHAR" property="regOrg" />
    <result column="REG_ORG_CODE" jdbcType="VARCHAR" property="regOrgCode" />
    <result column="REG_ORG_PROVINCE" jdbcType="VARCHAR" property="regOrgProvince" />
    <result column="EMP_NUM" jdbcType="DECIMAL" property="empNum" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="OP_LOCATION" jdbcType="VARCHAR" property="opLocation" />
    <result column="INDUSTRY_CODE" jdbcType="VARCHAR" property="industryCode" />
    <result column="INDUSTRY_NAME" jdbcType="VARCHAR" property="industryName" />
    <result column="OP_SCOPE" jdbcType="VARCHAR" property="opScope" />
    <result column="UNIQUE_TOKEN" jdbcType="VARCHAR" property="uniqueToken" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="UPDATER" jdbcType="VARCHAR" property="updater" />
    <result column="IS_DELETE" jdbcType="DECIMAL" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, ENT_ID, ENT_NAME, PULL_DATE, REG_NO, ORI_REG_NO, CREDIT_CODE, FR_NAME, REG_CAP, 
    REG_CAP_CUR, REC_CAP, REC_CAP_CUR, ENT_STATUS, ENT_TYPE, ES_DATE, OP_FROM, OP_TO, 
    REG_ADDR, REG_ORG, REG_ORG_CODE, REG_ORG_PROVINCE, EMP_NUM, TEL, OP_LOCATION, INDUSTRY_CODE, 
    INDUSTRY_NAME, OP_SCOPE, UNIQUE_TOKEN, CREATED_AT, CREATOR, UPDATED_AT, UPDATER, 
    IS_DELETE
  </sql>
  <select id="selectByExample" parameterType="com.ajayhao.mslab.crawler.orm.entity.EntGsInfoEntityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from COMBS_ZXCJ_GSXX
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from COMBS_ZXCJ_GSXX
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from COMBS_ZXCJ_GSXX
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ajayhao.mslab.crawler.orm.entity.EntGsInfoEntityExample">
    delete from COMBS_ZXCJ_GSXX
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ajayhao.mslab.crawler.orm.entity.EntGsInfoEntity">
    insert into COMBS_ZXCJ_GSXX (ID, ENT_ID, ENT_NAME, 
      PULL_DATE, REG_NO, ORI_REG_NO, 
      CREDIT_CODE, FR_NAME, REG_CAP, 
      REG_CAP_CUR, REC_CAP, REC_CAP_CUR, 
      ENT_STATUS, ENT_TYPE, ES_DATE, 
      OP_FROM, OP_TO, REG_ADDR, 
      REG_ORG, REG_ORG_CODE, REG_ORG_PROVINCE, 
      EMP_NUM, TEL, OP_LOCATION, 
      INDUSTRY_CODE, INDUSTRY_NAME, OP_SCOPE, 
      UNIQUE_TOKEN, CREATED_AT, CREATOR, 
      UPDATED_AT, UPDATER, IS_DELETE
      )
    values (#{id,jdbcType=VARCHAR}, #{entId,jdbcType=VARCHAR}, #{entName,jdbcType=VARCHAR}, 
      #{pullDate,jdbcType=VARCHAR}, #{regNo,jdbcType=VARCHAR}, #{oriRegNo,jdbcType=VARCHAR}, 
      #{creditCode,jdbcType=VARCHAR}, #{frName,jdbcType=VARCHAR}, #{regCap,jdbcType=DECIMAL}, 
      #{regCapCur,jdbcType=VARCHAR}, #{recCap,jdbcType=DECIMAL}, #{recCapCur,jdbcType=VARCHAR}, 
      #{entStatus,jdbcType=VARCHAR}, #{entType,jdbcType=VARCHAR}, #{esDate,jdbcType=VARCHAR}, 
      #{opFrom,jdbcType=VARCHAR}, #{opTo,jdbcType=VARCHAR}, #{regAddr,jdbcType=VARCHAR}, 
      #{regOrg,jdbcType=VARCHAR}, #{regOrgCode,jdbcType=VARCHAR}, #{regOrgProvince,jdbcType=VARCHAR}, 
      #{empNum,jdbcType=DECIMAL}, #{tel,jdbcType=VARCHAR}, #{opLocation,jdbcType=VARCHAR}, 
      #{industryCode,jdbcType=VARCHAR}, #{industryName,jdbcType=VARCHAR}, #{opScope,jdbcType=VARCHAR}, 
      #{uniqueToken,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}, #{isDelete,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ajayhao.mslab.crawler.orm.entity.EntGsInfoEntity">
    insert into COMBS_ZXCJ_GSXX
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="entId != null">
        ENT_ID,
      </if>
      <if test="entName != null">
        ENT_NAME,
      </if>
      <if test="pullDate != null">
        PULL_DATE,
      </if>
      <if test="regNo != null">
        REG_NO,
      </if>
      <if test="oriRegNo != null">
        ORI_REG_NO,
      </if>
      <if test="creditCode != null">
        CREDIT_CODE,
      </if>
      <if test="frName != null">
        FR_NAME,
      </if>
      <if test="regCap != null">
        REG_CAP,
      </if>
      <if test="regCapCur != null">
        REG_CAP_CUR,
      </if>
      <if test="recCap != null">
        REC_CAP,
      </if>
      <if test="recCapCur != null">
        REC_CAP_CUR,
      </if>
      <if test="entStatus != null">
        ENT_STATUS,
      </if>
      <if test="entType != null">
        ENT_TYPE,
      </if>
      <if test="esDate != null">
        ES_DATE,
      </if>
      <if test="opFrom != null">
        OP_FROM,
      </if>
      <if test="opTo != null">
        OP_TO,
      </if>
      <if test="regAddr != null">
        REG_ADDR,
      </if>
      <if test="regOrg != null">
        REG_ORG,
      </if>
      <if test="regOrgCode != null">
        REG_ORG_CODE,
      </if>
      <if test="regOrgProvince != null">
        REG_ORG_PROVINCE,
      </if>
      <if test="empNum != null">
        EMP_NUM,
      </if>
      <if test="tel != null">
        TEL,
      </if>
      <if test="opLocation != null">
        OP_LOCATION,
      </if>
      <if test="industryCode != null">
        INDUSTRY_CODE,
      </if>
      <if test="industryName != null">
        INDUSTRY_NAME,
      </if>
      <if test="opScope != null">
        OP_SCOPE,
      </if>
      <if test="uniqueToken != null">
        UNIQUE_TOKEN,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="updater != null">
        UPDATER,
      </if>
      <if test="isDelete != null">
        IS_DELETE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="entId != null">
        #{entId,jdbcType=VARCHAR},
      </if>
      <if test="entName != null">
        #{entName,jdbcType=VARCHAR},
      </if>
      <if test="pullDate != null">
        #{pullDate,jdbcType=VARCHAR},
      </if>
      <if test="regNo != null">
        #{regNo,jdbcType=VARCHAR},
      </if>
      <if test="oriRegNo != null">
        #{oriRegNo,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null">
        #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="frName != null">
        #{frName,jdbcType=VARCHAR},
      </if>
      <if test="regCap != null">
        #{regCap,jdbcType=DECIMAL},
      </if>
      <if test="regCapCur != null">
        #{regCapCur,jdbcType=VARCHAR},
      </if>
      <if test="recCap != null">
        #{recCap,jdbcType=DECIMAL},
      </if>
      <if test="recCapCur != null">
        #{recCapCur,jdbcType=VARCHAR},
      </if>
      <if test="entStatus != null">
        #{entStatus,jdbcType=VARCHAR},
      </if>
      <if test="entType != null">
        #{entType,jdbcType=VARCHAR},
      </if>
      <if test="esDate != null">
        #{esDate,jdbcType=VARCHAR},
      </if>
      <if test="opFrom != null">
        #{opFrom,jdbcType=VARCHAR},
      </if>
      <if test="opTo != null">
        #{opTo,jdbcType=VARCHAR},
      </if>
      <if test="regAddr != null">
        #{regAddr,jdbcType=VARCHAR},
      </if>
      <if test="regOrg != null">
        #{regOrg,jdbcType=VARCHAR},
      </if>
      <if test="regOrgCode != null">
        #{regOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="regOrgProvince != null">
        #{regOrgProvince,jdbcType=VARCHAR},
      </if>
      <if test="empNum != null">
        #{empNum,jdbcType=DECIMAL},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="opLocation != null">
        #{opLocation,jdbcType=VARCHAR},
      </if>
      <if test="industryCode != null">
        #{industryCode,jdbcType=VARCHAR},
      </if>
      <if test="industryName != null">
        #{industryName,jdbcType=VARCHAR},
      </if>
      <if test="opScope != null">
        #{opScope,jdbcType=VARCHAR},
      </if>
      <if test="uniqueToken != null">
        #{uniqueToken,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update COMBS_ZXCJ_GSXX
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.entId != null">
        ENT_ID = #{record.entId,jdbcType=VARCHAR},
      </if>
      <if test="record.entName != null">
        ENT_NAME = #{record.entName,jdbcType=VARCHAR},
      </if>
      <if test="record.pullDate != null">
        PULL_DATE = #{record.pullDate,jdbcType=VARCHAR},
      </if>
      <if test="record.regNo != null">
        REG_NO = #{record.regNo,jdbcType=VARCHAR},
      </if>
      <if test="record.oriRegNo != null">
        ORI_REG_NO = #{record.oriRegNo,jdbcType=VARCHAR},
      </if>
      <if test="record.creditCode != null">
        CREDIT_CODE = #{record.creditCode,jdbcType=VARCHAR},
      </if>
      <if test="record.frName != null">
        FR_NAME = #{record.frName,jdbcType=VARCHAR},
      </if>
      <if test="record.regCap != null">
        REG_CAP = #{record.regCap,jdbcType=DECIMAL},
      </if>
      <if test="record.regCapCur != null">
        REG_CAP_CUR = #{record.regCapCur,jdbcType=VARCHAR},
      </if>
      <if test="record.recCap != null">
        REC_CAP = #{record.recCap,jdbcType=DECIMAL},
      </if>
      <if test="record.recCapCur != null">
        REC_CAP_CUR = #{record.recCapCur,jdbcType=VARCHAR},
      </if>
      <if test="record.entStatus != null">
        ENT_STATUS = #{record.entStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.entType != null">
        ENT_TYPE = #{record.entType,jdbcType=VARCHAR},
      </if>
      <if test="record.esDate != null">
        ES_DATE = #{record.esDate,jdbcType=VARCHAR},
      </if>
      <if test="record.opFrom != null">
        OP_FROM = #{record.opFrom,jdbcType=VARCHAR},
      </if>
      <if test="record.opTo != null">
        OP_TO = #{record.opTo,jdbcType=VARCHAR},
      </if>
      <if test="record.regAddr != null">
        REG_ADDR = #{record.regAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.regOrg != null">
        REG_ORG = #{record.regOrg,jdbcType=VARCHAR},
      </if>
      <if test="record.regOrgCode != null">
        REG_ORG_CODE = #{record.regOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.regOrgProvince != null">
        REG_ORG_PROVINCE = #{record.regOrgProvince,jdbcType=VARCHAR},
      </if>
      <if test="record.empNum != null">
        EMP_NUM = #{record.empNum,jdbcType=DECIMAL},
      </if>
      <if test="record.tel != null">
        TEL = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.opLocation != null">
        OP_LOCATION = #{record.opLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.industryCode != null">
        INDUSTRY_CODE = #{record.industryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.industryName != null">
        INDUSTRY_NAME = #{record.industryName,jdbcType=VARCHAR},
      </if>
      <if test="record.opScope != null">
        OP_SCOPE = #{record.opScope,jdbcType=VARCHAR},
      </if>
      <if test="record.uniqueToken != null">
        UNIQUE_TOKEN = #{record.uniqueToken,jdbcType=VARCHAR},
      </if>
      <if test="record.createdAt != null">
        CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creator != null">
        CREATOR = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedAt != null">
        UPDATED_AT = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null">
        UPDATER = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null">
        IS_DELETE = #{record.isDelete,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update COMBS_ZXCJ_GSXX
    set ID = #{record.id,jdbcType=VARCHAR},
      ENT_ID = #{record.entId,jdbcType=VARCHAR},
      ENT_NAME = #{record.entName,jdbcType=VARCHAR},
      PULL_DATE = #{record.pullDate,jdbcType=VARCHAR},
      REG_NO = #{record.regNo,jdbcType=VARCHAR},
      ORI_REG_NO = #{record.oriRegNo,jdbcType=VARCHAR},
      CREDIT_CODE = #{record.creditCode,jdbcType=VARCHAR},
      FR_NAME = #{record.frName,jdbcType=VARCHAR},
      REG_CAP = #{record.regCap,jdbcType=DECIMAL},
      REG_CAP_CUR = #{record.regCapCur,jdbcType=VARCHAR},
      REC_CAP = #{record.recCap,jdbcType=DECIMAL},
      REC_CAP_CUR = #{record.recCapCur,jdbcType=VARCHAR},
      ENT_STATUS = #{record.entStatus,jdbcType=VARCHAR},
      ENT_TYPE = #{record.entType,jdbcType=VARCHAR},
      ES_DATE = #{record.esDate,jdbcType=VARCHAR},
      OP_FROM = #{record.opFrom,jdbcType=VARCHAR},
      OP_TO = #{record.opTo,jdbcType=VARCHAR},
      REG_ADDR = #{record.regAddr,jdbcType=VARCHAR},
      REG_ORG = #{record.regOrg,jdbcType=VARCHAR},
      REG_ORG_CODE = #{record.regOrgCode,jdbcType=VARCHAR},
      REG_ORG_PROVINCE = #{record.regOrgProvince,jdbcType=VARCHAR},
      EMP_NUM = #{record.empNum,jdbcType=DECIMAL},
      TEL = #{record.tel,jdbcType=VARCHAR},
      OP_LOCATION = #{record.opLocation,jdbcType=VARCHAR},
      INDUSTRY_CODE = #{record.industryCode,jdbcType=VARCHAR},
      INDUSTRY_NAME = #{record.industryName,jdbcType=VARCHAR},
      OP_SCOPE = #{record.opScope,jdbcType=VARCHAR},
      UNIQUE_TOKEN = #{record.uniqueToken,jdbcType=VARCHAR},
      CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      CREATOR = #{record.creator,jdbcType=VARCHAR},
      UPDATED_AT = #{record.updatedAt,jdbcType=TIMESTAMP},
      UPDATER = #{record.updater,jdbcType=VARCHAR},
      IS_DELETE = #{record.isDelete,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ajayhao.mslab.crawler.orm.entity.EntGsInfoEntity">
    update COMBS_ZXCJ_GSXX
    <set>
      <if test="entId != null">
        ENT_ID = #{entId,jdbcType=VARCHAR},
      </if>
      <if test="entName != null">
        ENT_NAME = #{entName,jdbcType=VARCHAR},
      </if>
      <if test="pullDate != null">
        PULL_DATE = #{pullDate,jdbcType=VARCHAR},
      </if>
      <if test="regNo != null">
        REG_NO = #{regNo,jdbcType=VARCHAR},
      </if>
      <if test="oriRegNo != null">
        ORI_REG_NO = #{oriRegNo,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null">
        CREDIT_CODE = #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="frName != null">
        FR_NAME = #{frName,jdbcType=VARCHAR},
      </if>
      <if test="regCap != null">
        REG_CAP = #{regCap,jdbcType=DECIMAL},
      </if>
      <if test="regCapCur != null">
        REG_CAP_CUR = #{regCapCur,jdbcType=VARCHAR},
      </if>
      <if test="recCap != null">
        REC_CAP = #{recCap,jdbcType=DECIMAL},
      </if>
      <if test="recCapCur != null">
        REC_CAP_CUR = #{recCapCur,jdbcType=VARCHAR},
      </if>
      <if test="entStatus != null">
        ENT_STATUS = #{entStatus,jdbcType=VARCHAR},
      </if>
      <if test="entType != null">
        ENT_TYPE = #{entType,jdbcType=VARCHAR},
      </if>
      <if test="esDate != null">
        ES_DATE = #{esDate,jdbcType=VARCHAR},
      </if>
      <if test="opFrom != null">
        OP_FROM = #{opFrom,jdbcType=VARCHAR},
      </if>
      <if test="opTo != null">
        OP_TO = #{opTo,jdbcType=VARCHAR},
      </if>
      <if test="regAddr != null">
        REG_ADDR = #{regAddr,jdbcType=VARCHAR},
      </if>
      <if test="regOrg != null">
        REG_ORG = #{regOrg,jdbcType=VARCHAR},
      </if>
      <if test="regOrgCode != null">
        REG_ORG_CODE = #{regOrgCode,jdbcType=VARCHAR},
      </if>
      <if test="regOrgProvince != null">
        REG_ORG_PROVINCE = #{regOrgProvince,jdbcType=VARCHAR},
      </if>
      <if test="empNum != null">
        EMP_NUM = #{empNum,jdbcType=DECIMAL},
      </if>
      <if test="tel != null">
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="opLocation != null">
        OP_LOCATION = #{opLocation,jdbcType=VARCHAR},
      </if>
      <if test="industryCode != null">
        INDUSTRY_CODE = #{industryCode,jdbcType=VARCHAR},
      </if>
      <if test="industryName != null">
        INDUSTRY_NAME = #{industryName,jdbcType=VARCHAR},
      </if>
      <if test="opScope != null">
        OP_SCOPE = #{opScope,jdbcType=VARCHAR},
      </if>
      <if test="uniqueToken != null">
        UNIQUE_TOKEN = #{uniqueToken,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        IS_DELETE = #{isDelete,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ajayhao.mslab.crawler.orm.entity.EntGsInfoEntity">
    update COMBS_ZXCJ_GSXX
    set ENT_ID = #{entId,jdbcType=VARCHAR},
      ENT_NAME = #{entName,jdbcType=VARCHAR},
      PULL_DATE = #{pullDate,jdbcType=VARCHAR},
      REG_NO = #{regNo,jdbcType=VARCHAR},
      ORI_REG_NO = #{oriRegNo,jdbcType=VARCHAR},
      CREDIT_CODE = #{creditCode,jdbcType=VARCHAR},
      FR_NAME = #{frName,jdbcType=VARCHAR},
      REG_CAP = #{regCap,jdbcType=DECIMAL},
      REG_CAP_CUR = #{regCapCur,jdbcType=VARCHAR},
      REC_CAP = #{recCap,jdbcType=DECIMAL},
      REC_CAP_CUR = #{recCapCur,jdbcType=VARCHAR},
      ENT_STATUS = #{entStatus,jdbcType=VARCHAR},
      ENT_TYPE = #{entType,jdbcType=VARCHAR},
      ES_DATE = #{esDate,jdbcType=VARCHAR},
      OP_FROM = #{opFrom,jdbcType=VARCHAR},
      OP_TO = #{opTo,jdbcType=VARCHAR},
      REG_ADDR = #{regAddr,jdbcType=VARCHAR},
      REG_ORG = #{regOrg,jdbcType=VARCHAR},
      REG_ORG_CODE = #{regOrgCode,jdbcType=VARCHAR},
      REG_ORG_PROVINCE = #{regOrgProvince,jdbcType=VARCHAR},
      EMP_NUM = #{empNum,jdbcType=DECIMAL},
      TEL = #{tel,jdbcType=VARCHAR},
      OP_LOCATION = #{opLocation,jdbcType=VARCHAR},
      INDUSTRY_CODE = #{industryCode,jdbcType=VARCHAR},
      INDUSTRY_NAME = #{industryName,jdbcType=VARCHAR},
      OP_SCOPE = #{opScope,jdbcType=VARCHAR},
      UNIQUE_TOKEN = #{uniqueToken,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      CREATOR = #{creator,jdbcType=VARCHAR},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      IS_DELETE = #{isDelete,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>